.contenu{
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding : 50px;
}

.contenu h2{
    margin-top: 30px;
}

.contenu ul{
    margin-top: 20px;
}

.contenu + div{
  text-align: center;
}

.a-propos-main{
    width: 50;
    margin: auto;
}

table {
    color: white;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
  }
  
  td,
  th {
    padding: 15px;
    border: 1px solid #a5b4fc;
  }
  
  td {
    padding: 80px;
  }
  
  h2 {
    margin-bottom: 80px;
    color : #A5B4FC;
  }
  
  h1,
  h2 {
    text-align: center;
  }

  .about-section {
    margin: 50px auto;
    padding: 40px;
    max-width: 800px;
    text-align: center;
}

.about-section h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-section .about-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.about-section .about-equipment h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.about-section .about-equipment p {
    font-size: 1.2em;
    line-height: 1.6;
}

.about-section .cta{
  margin-top: 20px;
  margin-bottom: -100px;
}

  @media screen and (max-width: 996px) {
    .section-tarifs {
      display: none;
    }
  }